# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script run within a PyInstaller
#  context to a temporary directory.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.toast
.cache
.pytest_cache/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkouts

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or app, you might want to share your .python-version.
#   For development, you might want to ignore it.
# .python-version

# pipenv
#   According to pypa/pipenv#1256, Pipfile.lock should be committed in most cases
#   but should be ignored if this is a dependency library.
# Pipfile.lock

# poetry
#   Similar to Pipfile.lock, poetry.lock should be committed in most cases
#   but should be ignored if this is a dependency library.
# poetry.lock

# pdm
#   Similar to Pipfile.lock, pdm.lock should be committed in most cases
#   but should be ignored if this is a dependency library.
# pdm.lock

# virtualenv
#   Usually exclude virtualenv from git repo
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype
.pytype/

# Cython debug symbols
cython_debug/

# IDE / Editor configurations
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS generated files
.DS_Store
Thumbs.db
